.root{
    -fx-background-color: #333333;
}

.label{
    -fx-font-size: 14;
    -fx-font-family: "Lucida Console";
    -fx-text-fill: "white";
}

#userRankValue{
    -fx-font-size: 24;
    -fx-font-weight: bold;
}

.chart-legend .label{
    -fx-text-fill: black ;
}

.radio-button{
    -fx-text-fill: white;
    -fx-font-family: "Lucida Console";
}

#titleLabel{
    -fx-font-size: 32;
}

.statValue{
    -fx-font-size: 24;
}