
.full{
    -fx-background-color: #AAAAAA;
    -fx-background-radius: 10;
}

.content{
    -fx-background-radius: 20;
    -fx-background-color: #DDDDDD;
}

.scroll-pane .scroll-bar {
    -fx-background-color: transparent;
    -fx-pref-width: 10;
    -fx-pref-height: 10;
    -fx-padding: 2;
}

.infoGog{
    -fx-background-radius: 20;
    -fx-background-color: #aa2cb2;
}
.infoGog:hover{
    -fx-background-color: #f000ff;
}

.infoSteam{
    -fx-background-radius: 20;
    -fx-background-color: #1A9FFF;
}
.infoSteam:hover{
    -fx-background-color: #00e1ff;
}

.infoGamerlist{
    -fx-background-radius: 20;
    -fx-background-color: #6be55b;
}
.infoGamerlist:hover{
    -fx-background-color: #1eff00;
}

.popover {
    -fx-background-color: white;
}

.popover > .border {
    -fx-stroke: linear-gradient(to bottom, rgba(0,0,0, .3), rgba(0, 0, 0, .7));
    -fx-stroke-width: 0.5;
    -fx-fill: rgba(30 , 30, 30, .95);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,.2), 10.0, 0.5, 2.0, 2.0);
}